{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Plantify</title>
</head>
<body style="margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; background-image: url('{% static 'media/3.jpg' %}');">
<div style="padding: 35px 60px; background-color: #000000; height:90px;">
      <h4 style=" margin-bottom:0; padding: 0; color: #FFE4C4; font-size: 16px;"> A PLANT DISEASE RECOGNITION PLATFORM</h4>
      <h1 style="color: #F5F5F5; float: left;
  font-size: 35px;"> PLANTIFY </h1>
    <button style="width:150px; height:50px; margin-left:650px; margin-right:50px; background-color: #4CAF50; padding: 15px 32px; text-align: center; display: inline-block; font-size: 16px;"> <a href="{% url 'home' %}"> Home </a> </button>
            <button style="width:150px; height:50px; margin-right:50px; background-color: #4CAF50; padding: 15px 32px; text-align: center; display: inline-block; font-size: 16px;"> <a href="{% url 'userLogOut' %}"> Log Out </a> </button>
</div>
<div style="background-color:green; margin-left:500px; width:300px; text-align:center;">
{% if messages %}
{% for message in messages %}
<h4 style="color:#000000;">{{message}}</h4>
{% endfor %} {% endif %}
</div>
<div style="text-align:center; color:#FFFFFF;">
    <p>Please enter image of diseased plant below.</p>
   <form class="" method="post" enctype="multipart/form-data" action="/predict/">
        {% csrf_token %}
        {{form.as_p}}
       <button style=" height:50px; background-color: #4CAF50; padding: 15px 32px; text-align: center; display: inline-block; font-size: 16px;"> SUBMIT </button>

      </form>
</div>

</body>
</html>